[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
PIDFile=/run/gunicorn/pid
User=webapp
Group=webapp
RuntimeDirectory=gunicorn
WorkingDirectory=/opt/nrfeed
ExecStart=/opt/nrfeed/bin/gunicorn --pid /run/gunicorn/pid   \
          --bind unix:/run/gunicorn/socket app:app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
